<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.miruna.hospitalmanager">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".application.splash.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".application.login.LoginActivity"
                android:label="@string/text_login">
        </activity>
        <activity
                android:name=".application.signUp.SignUpActivity"
                android:label="@string/text_signUp">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".application.login.LoginActivity"/>
        </activity>
        <activity
                android:name=".application.dashboard.DashboardActivity"
                android:label="@string/title_activity_dashboard"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".application.pacient.PacientDetailsActivity"
                android:label="@string/title_activity_pacient_details">
        </activity>
        <activity
                android:name=".application.pacient.file.FileDetailsActivity"
                android:label="@string/title_activity_file_details">
        </activity>
        <activity
                android:name=".application.pacient.file.AddPacientFileActivity"
                android:label="@string/title_activity_add_pacient_file">
        </activity>
        <activity
                android:name=".application.agenda.AddEventActivity"
                android:label="@string/title_activity_add_event">
        </activity>
        <activity
                android:name=".application.pacient.AddPacientActivity"
                android:label="@string/title_activity_add_pacient">
        </activity>
        <activity
                android:name=".application.drug.AddDrugActivity"
                android:label="@string/title_activity_add_drug">
        </activity>
        <activity
                android:name=".application.pacient.file.EditFileContentActivity"
                android:label="@string/title_activity_edit_file">
        </activity>
        <activity
                android:name=".application.settings.SettingsActivity"
                android:label="@string/title_activity_settings">
        </activity>
        <activity
                android:name=".application.settings.TermsConditionsActivity"
                android:label="@string/title_activity_terms_conditions">
        </activity>
        <activity android:name=".application.request.AddRequestActivity">
        </activity>
    </application>

</manifest>